/* ---Defaults--- */
html {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	vertical-align: middle;
}

.hidden {
	display: none;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
