// Top Right Buttons
.about_mobile,
.about_desktop,
.entry-content2 {
	width: 100%;
	height: 100vh;
}

span {
	display: inline-block;
	float: left;
}

.about_mobile {
	display: inline-block;
}

.about_desktop {
	display: none;
}

.mobile_image {
	width: 100%;
	height: 300px;
	background-image: no-repeat;
	background-position: center center;
}

.mobile_text {
	padding: 15px;
}

.mobile_text h1{
	width: 65%;
	margin-bottom: 10px;
}

.mobile_text h2 {
	margin: 0 0 10px 0;
}

.mobile_text p {
	margin: 5px 0 10px 0;
}

// .mission_popup h1,  
// .about_popup h1 {
// 	margin-bottom: 30px;
// }

// .sustainability_popup h1 {
// 	margin-bottom: 70px;
// }

#company_bg_screen {
	z-index: 900;
	opacity: 0.8;
}

@media ( min-width: $tablet ) {
	.about_desktop {
		display: inline-block;
	}

	.about_mobile {
		display: none;
	}

	.company_toggle_buttons {
		position: fixed;
		top: 0;
		margin-top: 20px;
		right: 20px;
		max-width: 22px;
		display: block;
		float: right;
		z-index: 1500;
	}

	body.admin-bar .company_toggle_buttons {
		top: 32px;
	}

	.company_toggle_buttons img {
		width: 100%;
		cursor: pointer;
		margin-bottom: 10px;
	}

	// Background Images for About Willey Printing
	#background_images {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.bg_image {
		height: 85vh;
		display: block;
		float: left;
		margin: 0;
		position: relative;
		top: 0;
		left: 0;
		background-image: no-repeat;
		background-position: center center;
		background-size: cover;
		overflow: hidden;
		// border: 1px solid red;
	}

	#bg_image1,
	#bg_image4,
	#bg_image5,
	#bg_image6 {
		width: 60%;
	}

	#bg_image2,
	#bg_image3,
	#bg_image7 {
		width: 40%;
	}

	#bg_image7 {
		float: right;
	}

	#bg_image4 {
		height: 32vh;
	}

	#bg_image5 {
		height: 53vh;
	}

	// Popup windows & text
	#about_anchor_div,
	#mission_anchor_div,
	#sustain_anchor_div {
		width: 100%;
		height: 85vh;
		position: relative;
		z-index: 1000;
		// border: 1px solid green;
	}

	.about_popup,
	.mission_popup,
	.sustainability_popup {
		background: #FFFFFF;
		position: absolute;
		width: 60%;
		overflow-y: auto;
		// border: 1px solid red;
	}

	.about_popup {
		right: 10px;
		bottom: -5%;
		height: 35%;
		min-height: 200px;
		margin-right: 10px;
		padding: 15px 100px 15px 15px;

	}

	.mission_popup {
		left: 10px;
		bottom: 3%;
		height: 35%;
		min-width: 430px;
		min-height: 260px;
		padding: 15px 70px 15px 15px;
	}

	.sustainability_popup {
		right: 10px;
		bottom: 3%;
		height: 35%;
		min-width: 400px;
		min-height: 250px;
		padding: 15px 60px 15px 15px;
	}

	.entry-content h1 {
		margin-bottom: 20px;
	}

	.entry-content h2 {
		margin-bottom: 20px;
	}

	.entry-content span {
		bottom: 0;
		margin-bottom: 10px;
		position: relative;
	}
}

