// make sure we dont change admin panel styles
body.admin-bar #wpadminbar {
	position: fixed;
	top: 0;
	left: 0;
}

body.admin-bar #header.banner,
body.admin-bar main.main,
body.admin-bar main.main.tiny_header,
body.admin-bar .menu-close {
	top: 46px;
}

#header.banner {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFFFFF;
	height: 120px;
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.tiny_header {
		height: 88px;
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
}

main.main {
	position: absolute;
	left: 0;
	width: 100%;
	padding-top: 119px;
	&.tiny_header {
		padding-top: 88px;
	}
}

#left_menu_button,
.right_menu_button, /*work page*/
#right_menu, /*journey page*/
.single-work-return-button /*single-work*/ {
	max-width: 25px;
	position: fixed;
	margin-top: 35px;
	// &.tiny_header {
	// 	margin-top: 35px;
	// }
}

.right_menu_button {
	z-index: 1500;
	display: inline-block;
	// position: fixed;
}

.work_container #work_single_return.right_menu_button {
	margin-left: -20px;
}

#main_logo_full {
	max-width: 119px;
	margin: 25px 0;
}

#main_logo {
	max-width: 41px;
	margin: 25px 0 25px 2px;
}

// journey page


@media(min-width: $tablet) {
	#header.banner {
		display: none;
	}

	body.admin-bar #header.banner {
		top: 32px;
	}

	body.admin-bar main.main,
	body.admin-bar main.main.tiny_header {
		top: 0;
	}

	main.main {
		position: relative;
		// float: left;
		// width: 80vw;
		padding-top: 0;
		&.tiny_header {
			padding-top: 0;
		}
	}

	.right_menu_button {
		display: none;
	}

	// Journey Page
	#journey_page #right-nav,
	#journey_page #right-nav.enabled {
		width: 300px;
		// width: 20vw;
	}
}
