header.banner {
	position: relative;
	z-index: 1000;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFFFFF;
}

#left_menu, #right_menu {
	max-width: 35px;
	position: relative;
	margin-top: 105px;
}

#main_logo {
	max-width: 170px;
	margin: 35px 0;
}

@media(min-width:768px) {
	header.banner{
		display: none;
	}
}
