.journey_content {
	width: 100%;
}

.social_share img,
.mobile_publish_time h2,
.mobile_publish_time p,
.desktop_publish_time h2,
.desktop_publish_time p {
	float: left;
}

.mobile_publish_time .icon,
.desktop_publish_time .icon {
	margin-right: 5px;
}

.desktop_publish_time {
	display: none;
}
