.right_work_menu {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

body.admin-bar #right-nav {
	top: 46px;
}

#right-nav {
	z-index: 2000;
	position: fixed;
	padding-top: 2vh;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 100vh;
	min-height: 480px;
	overflow-y: auto;
	overflow-x: hidden;
  background: #fff;
  text-align: center;
  border-color: #ababab;
  border-width: 2px;
	&.enabled {
		width: 75vw;
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.right-exit-menu {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	background: transparent;
	text-align: center;
	&.enabled {
		width: 25vw;
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu-open-right {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	width: 10vw;
}

.desktop_right_nav {
	max-width: 0;
	display: none;
}

.right_work_menu .right_menu_button {
	display: inline-block;
}

.right_work_menu .right_menu_button_white {
	display: none;
}

.nav_title {
	color: #8C006A;
	margin: 10px;
}

.nav-sorting {
	color: #3B3B3B;
	padding: 0;
	margin: auto;
	text-decoration: none;
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.icon-nav-right {
	width: 20px;
}

.brands {
	color: #3B3B3B;
	padding: 0;
	margin: auto;
	text-decoration: none;
	display: none;
}

.list1 {
	color: #3B3B3B;
	width: 100%;
	text-decoration: none;
	padding: 20px;
	@media (max-width: $tablet) {
		padding: 12px;
	}
}

.list1:hover {
	text-decoration: none;
	color: #8C006A;
}

.list1:hover a {
	text-decoration: none;
	color: #8C006A;
}

.timeline-year,
.custom_menu_title {
	color: #3B3B3B;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 10px;
	letter-spacing: 2px;
	display: inline-block;
	margin: -0.5rem 0 .5rem;
	text-align: center;
	&:before {
		padding-right: 0.0125rem;
		content: "───────";
		font-size: 0.65rem;
		position: relative;
		top: -4px;
		letter-spacing: 0;
	}
	&:after {
		padding-left: 0.0125rem;
		content: "───────";
		font-size: 0.65rem;
		position: relative;
		top: -4px;
		letter-spacing: 0;
	}
  span{
    margin: 0 12px;
    float: none;
  }
}

.custom_menu_title {
	display:none;
}

.timeline-wrapper {
	padding: 0px 25px;
	line-height: 20px;
	font-family: Futura;
}

.timeline-date {
	font-family: Futura-Heavy;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.timeline-event {
	font-weight: 200;
	letter-spacing: 1px;
}

.nav_right_menu_container {
	height: 75%;
	overflow: auto;
}

.sorting_icon {
	display: none;
}









@media (min-width: $tablet) {
	.custom_menu_title {
		display: block;
	}

	.right_work_menu .right_menu_button {
		display: block;
	}

	.right_work_menu .right_menu_button_white {
		z-index: 8000;
		display: inline-block;
		margin-top: 20px;
		margin-left: 10px;
		// position: fixed;
		// max-width: 25px;
		z-index: 700;
    display: block;
    margin-top: 20px;
    margin-left: 8vw;
    // position: fixed;
    width: 25px;
    right: 20px;
	}

	body.admin-bar #right-nav {
		top: 32px;
	}

	#right-nav {
		position: fixed;
		right: 0;
		width: 0;
		float: right;
		&.enabled {
			width: 200px;
			position: fixed;
			right: 0;
		}
	}

	.brands {
		display: block;

	}

	.nav-sorting {
		position: relative;
		top: 0;
		display: block;
		-webkit-transform: none;
	  -moz-transform: none;
	  -o-transform: none;
	  transform: none;
	}

	.desktop_right_nav {
		display: inline-block;
		text-align: center;
		position: fixed;
		bottom: 15px;
		margin-top: 10px;
		&.enabled {
			max-width: 25px;
			-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
		}
	}

	.right-exit-menu,
	.right-exit-menu.enabled {
		width: 0;
	}

	.nav_title {
		font-size: 18px;
		margin-top: -12px;
	}

	.sorting_icon {
		display: inline-block;
	}
}

@media(max-width: $tablet) {
	.menu-open-right {
		display: none;
	}
}

@media (min-width: 769px) and (max-width: 1058px) {
    .timeline-year  {
        &:before {
            content: "──";
        }
        &:after {
            content: "──";
        }
    }
}

@media (min-width: $tablet) and (max-width: 779px) {
	.custom_menu_title {
		&:before {
			content: "─";
		}
		&:after {
			content: "─";
		}
	}
}

@media (min-width: 780px) and (max-width: 859px) {
	.custom_menu_title {
		&:before {
			content: "──";
		}
		&:after {
			content: "──";
		}
	}
}

@media (min-width: 860px) and (max-width: 1049px) {
	.custom_menu_title {
		&:before {
			content: "────";
		}
		&:after {
			content: "────";
		}
	}
}

@media (min-width: 1050px) {
	#right-nav {
		width: 0;
		&.enabled {
			width: 300px;
		}
	}

	.custom_menu_title {
		&:before {
			content: "───────";
		}
		&:after {
			content: "───────";
		}
	}

	// #right-nav {
	// 	width: 210px;
	// 	max-width: 210px;
	// }
}

