/* Toggle Styles */
body.admin-bar #sidebar-wrapper {
    top: 46px;
}

#wrapper {
    position: absolute;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
}

#wrapper.toggled {
    padding-left: 75vw;
}

#sidebar-wrapper {
    z-index: 2000;
    position: fixed;
    left: 75vw;
    width: 0;
    height: 100%;
    min-height: 100vh;
    margin-left: -75vw;
    overflow-y: auto;
    background: #fff;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu-close{
    width: 0;
    margin:0;
    z-index:1000;
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled .menu-close {
    width: 25vw;
}

#wrapper.toggled #sidebar-wrapper {
    width: 75vw;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -75vw;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    height: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}



#access li.current-menu-item a {
    background-color: red;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #3B3B3B;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #8C006A;
    background: rgba(255,255,253,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    color: $purple;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #3B3B3B;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #8C006A;
    background: none;
}

@media(min-width:$tablet) {
    body.admin-bar #sidebar-wrapper, 
    body.admin-bar .exit-button, 
    body.admin-bar #wrapper {
        top: 32px;
    }

    .sidebar-nav {
        position: absolute;
        top: 43%;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        height: auto;
        -webkit-transform: translate(0, -60%);
        -ms-transform: translate (0, -60%);
        transform: translate (0, -60%);
    }

    #wrapper {
        padding-left: 300px;
     //   width: 300px;
        display: block;
    }

    #wrapper.toggled .menu-close, 
    #wrapper.toggled .exit-button, 
    .exit-button, 
    .right-exit-menu, 
    .menu-close {
        display:none;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled {
        padding-left: 300px;
        width: 300px;
        display: block;
    }

    #sidebar-wrapper {
        width: 300px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 300px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}




.credits {
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.credit-text{
    position:absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
}

.logo {
    
    max-height: 60px;
    width: auto;
    margin-bottom: 100px;
    margin-top: 30px;
}

.sidebar-bottom {
    max-height: 22px;
}

.language {
    max-height: 18px;
}

.qtranxs_image_en {
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 2px;
    display: block;
    background-image: url(../../assets/images/flags/gb.png);
    background-size: cover;
}

.qtranxs_image_zh {
    background-image: url(../../assets/images/flags/cn.png); 
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 2px;
    display: block;
    background-size: cover;
}

.qtranxs_language_chooser {
    height: 25px;
    margin: auto;
    width: 54px;
}



.nav {
    margin-left: -12px;
}

.nav li {
    margin-bottom: 10px;
}

.nav_menu_items {
    font-size: 14px;
    text-transform: uppercase;
    font-family: Futura-Heavy;
}

.sidebar-brand {
    margin-left: -15px;
}

.exit-button{
    max-width: 0;
    position: fixed;
    margin-top: 75px;
    margin-left: 2vw;
    z-index: 2000;
    &.tiny_header {
        margin-top: 35px;
    }
    &.enabled {
        max-width: 25px;
    }
}

#share3 {
    opacity: 0.80;   
}


#share4 {
    opacity: 0.80;   
}

.menu_bottom {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

.current_page,
.current_page p,
.current_page h1,
.current_page h2,
.current_page h3,
.current_page h4,
.current_page h5 {
    color: $purple !important;
}


// @media (min-width: 1050px) {
//     #sidebar-wrapper,
//     .sidebar-nav {
//         width: 210px;
//         max-width: 210px;
//     }

//     #wrapper {
//         padding-left: 210px;
//         width: 210px;
//     }
// }





// .nav-space {
//     margin-top: 10vh;
// }


// @media screen and (max-width: $tablet) {
// .nav-space{
//     margin-top: 0px;
//   }
// }


// #share3 {
//    background: url("<?php echo bloginfo('template_directory')?>/assets/images/icons/facebook.png");
// }

// #share1:hover {
//     opacity: 0.5;   
// }



