.right_work_menu {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

#right-nav {
	z-index: 2000;
	position: fixed;
	padding-top: 56px;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	// height: 100%;
	min-height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
  background: #fff;
  text-align: center;
  border-color: #ababab;
  border-width: 2px;
	&.enabled {
		width: 75vw;
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
	-webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media(min-width: 550px) {
    #right-nav {
    &.enabled {
    width: 50vw;
    }
   }
}

@media(max-width: 750px) {
	.work-details-info-icon {
	display: none;
}

}



.right-exit-menu {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	background: transparent;
	text-align: center;
	&.enabled {
		width: 25vw;
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
		-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu-open-right {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	width: 10vw;
}

.desktop_right_nav {
	max-width: 0;
	display: none;
}

.right_work_menu .right_menu_button {
	display: inline-block;
}

.right_work_menu .right_menu_button_white {
	display: none;
}

.nav-title {
	color: #8C006A;
	font-size: 20px;
	font-family: Futura-Book;
	margin: 10px;
}

.nav-sorting {
	color: #3B3B3B;
	padding: 0;
	margin: auto;
	font-family: Futura-Book;
	text-decoration: none;
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
}

.brands {
	color: #3B3B3B;
	padding: 0;
	margin: auto;
	font-family: Futura-Book;
	text-decoration: none;
	display: none;
}

.list1 {
	color: #3B3B3B;
	width: 100%;
	font-family: Futura-Book;
	text-decoration: none;
	display: inline-block;
  	padding: 20px;
  	font-size: 14px;
}

.list1 a {
	color: #3B3B3B;
	text-decoration: none;
	font-family: Futura-Book;
}

.list1:hover {
	text-decoration: none;
	color: #8C006A;
	font-family: Futura-Book;
}

.list1:hover a {
	text-decoration: none;
	color: #8C006A;
	font-family: Futura-Book;
}

.timeline-year,
.custom_menu_title {
	color: #3B3B3B;
	font-size: 1em;
	font-family: Futura-Bold;
	width: 100%; 
	padding-top: 15px;
	padding-bottom: 30px;
	letter-spacing: 2px;
	display: inline-block;
	margin: -0.5rem 0 .5rem;
	text-align: center;
	&:before {
		padding-right: 0.0125rem;
		content: "─────────";
		font-size: 0.65rem;
		position: relative;
		top: -4px;
		letter-spacing: 0;
	}
	&:after {
		padding-left: 0.0125rem;
		content: "────────";
		font-size: 0.65rem;
		position: relative;
		top: -4px;
		letter-spacing: 0;
	}
  span{
    margin: 0 12px;
    float: none;
  }
}

.custom_menu_title {
	display:none;
	&:before {
		content: "────";
	}
	&:after {
		content: "────";
	}
}

.timeline-wrapper {
	padding: 0px 25px;
	line-height: 20px;
	font-family: Futura-Book;
}

.timeline-date {
	font-weight: 500;
	letter-spacing: 1px;
}

.timeline-event {
	font-weight: 200;
	letter-spacing: 1px;
}

@media (min-width: $tablet) {
	.custom_menu_title {
		display: block;
	}

	.right_work_menu .right_menu_button {
		display: none;
	}

	.right_work_menu .right_menu_button_white {
		z-index: 700;
		display: inline-block;
		margin-top: 20px;
		margin-left: 10px;
		position: fixed;
		max-width: 25px;
	}

	#right-nav {
		position: fixed;
		right: 0;
		width: 0;
		float: right;
		&.enabled {
			width: 30vw;
			position: fixed;
			right: 0;
		}
	}

	.brands {
		display: block;

	}

	.nav-sorting {
		position: relative;
		top: 0;
		display: block;
		-webkit-transform: none;
	  -moz-transform: none;
	  -o-transform: none;
	  transform: none;
	}

	.nav-sorting p {
		font-size: 1em;
	}

	.desktop_right_nav {
		display: inline-block;
		text-align: center;
		position: absolute;
		bottom: 5vh;
		right: 8vw;
		&.enabled {
			max-width: 25px;
			-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
		}
	}

	.right-exit-menu, 
	.right-exit-menu.enabled {
		width: 0;
	}

	.nav-title {
		font-size: 18px;
		margin-top: -12px;
	}
}

@media(max-width: $tablet) {
	.menu-open-right {
		display: none;
	}
}
